#include "res.h"

IMG001 ENHANCEDMETAFILE "logo.emf"

MAINMENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&DisplayInfo", IDM_FILE_DISPLAYINFO
    MENUITEM SEPARATOR
    MENUITEM "E&xit", IDM_FILE_EXIT
  END
END

STRINGTABLE
BEGIN
END
