#include "res.h"

IMG001 ENHANCEDMETAFILE "logo.emf"

MN MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&DisplayInfo", IDM_FILE_DISPLAYINFO
    MENUITEM SEPARATOR
    MENUITEM "E&xit", IDM_FILE_EXIT
  END
END

STRINGTABLE
BEGIN
  IDS_NAME "Rich A. Marino"
  IDS_SUBTITLE "Technologist, Software Engineer"
  IDS_TEL "+1-857-288-8884"
  IDS_URL "https://rm.vg/"
  IDS_EMAIL "q rm.vg"
  IDS_CMDURL "cmd /c start https://rm.vg/"
  IDS_CMDEMAIL "cmd /c start mailto:q rm.vg"
END

IDI_1 ICON "us1.ico"

